<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{producto.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]=producto.imagen></ion-img>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Producto</ion-label>
      <ion-label>{{producto.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Precio</ion-label>
      <ion-label>$ {{producto.precio}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Diponibles</ion-label>
      <ion-label *ngIf="producto.cantidad>0">{{producto.cantidad}}</ion-label>
      <ion-label *ngIf="producto.cantidad==0" color="danger">SIN STOCK</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="addCart()" expand="block" fill="solid" shape="round">
    Agregar al carrito
  </ion-button>
</ion-content>
