.tamanioImg{
    height: 200px;
    width: 320px;
}

.colorFondo{
    background-color: darkolivegreen;
}

.contenedor{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
}