<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-title color="primary">
      MercadoPeña
    </ion-title>
    <ion-avatar slot="end">
      <ion-badge class="cantCarrito" color="danger" mode="ios">{{carrito.length}}</ion-badge>
      <ion-img (click)="costCart()" class="carritoImg" src="../../assets/carro-de-la-compra.jpg"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let prod of productos" [routerLink]="['/home', prod.id]">
      <ion-avatar slot="start">
        <img [src]=prod.imagen/>
      </ion-avatar>
      <ion-label color="secondary">{{prod.nombre}}</ion-label>
      <ion-label>${{prod.precio}}</ion-label>
      <ion-label *ngIf="prod.cantidad>0">{{prod.cantidad}}</ion-label>
      <ion-label *ngIf="prod.cantidad==0" color="danger">SIN STOCK</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
